html,
body, #app, #app>div{
  margin: 0px;
  background: #f1f1f1;
  height: 100%;
}

#root{
  height: 100vh;
}

.tabs{
  display: flex;
  flex-flow: column;
  height: 100%;
}
  
.tab-list {
  padding-left: 0;
  margin: 0px;
  background: #ccc;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  transition: 0.3s;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  padding: 10px 16px 10px 16px;
  font-size: 14px;
}

.tab-list > button{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  height: auto;
  padding: 11px 16px 0px 16px;
  transition: 0.3s;
}

.tab-list-item:hover{
  background: #ccc;
  -webkit-box-shadow: inset 0 0 20px #ddd;
  -moz-box-shadow: inset 0 0 20px #ddd;
  box-shadow: inset 0 0 20px #ddd;
  border-radius: 10px 10px 0px 0px;
}

.tab-list-active {
  background: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
}

.tab-list-active:hover{
  background: #fff;
  -webkit-box-shadow: inset 0 0 20px #ddd;
  -moz-box-shadow: inset 0 0 20px #ddd;
  box-shadow: inset 0 0 20px #ddd;
  border-radius: 10px 10px 0px 0px;
}

.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 14px;
  height: 100%;
}

.tab-content{
  flex: 1 1 auto;
  padding: 14px;
}

.footer{
  flex: 0 1 40px;
}

.gridContainer > div {
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 10px #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeAdjustment{
  background: gray;
  margin: 0px 14px 14px 14px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ddd;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.gridContainer > div > p{
  font-size: 14px;
}

